*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $colorPrimary;
    @include mobile() {
        background-image: url(/images/bg-intro-mobile.png);
        background-repeat: no-repeat;       
    }
    @include desktop() {
        background-image: url(/images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}
