.main__container{
    width: 90%;
    height: 80px;
    background-color: $colorAccent;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 7px 2px rgba(97, 97, 97, 0.5);
    @include desktop() {
        margin: 80px auto 20px;
        width: 70%;
        height: 60px;
        margin-right: 150px;
    }
}
.container__text{
    font-family: $font;
    font-weight: 600;
    color: #fff;
    font-size: 1em ;
    text-align: center;
    padding: 15px 60px 20px;
}
.text__span{
    font-family: $font;
    font-size: .8em;
    font-weight: 400;
    color: #fff;
}

.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 70px;
    box-shadow: 0 7px 2px rgba(77, 77, 77, 0.5);
    @include desktop(){
        width: 70%;
        margin-right: 150px;
        margin-bottom: 40px;
    }
}
.form__input{
    width: 80%;
    height: 50px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    padding-left: 20px;
    padding-right: 50px;
    font-family: $font;
    font-weight: 700;
    color: rgb(110, 110, 110);
}
// .form__input:checked{
//     border: none;
// }
.form__input::placeholder{
    font-family: $font;
    font-weight: 700;
    color: rgb(170, 170, 170);
}
.button{
    background-color: $colorSecond;
    font-family: $font;
    font-weight: 500;
    font-size: .9em;
    color: #fff;
    border: none;
    box-shadow: 0 4px 2px darken($colorSecond, 10);
}

.form__text{
    font-family: $font;
    color: rgb(167, 167, 167);
    font-weight: 500;
    font-size: .8em;
    padding: 20px 40px;
    text-align: center;
    @include desktop() {
        font-size: 1em;
    }
}
.text__p{
    color: $colorPrimary;
    font-weight: 600;
}

.input__text{
    text-align: right;
    margin-right: 40px;
    font-family: $font;
    font-size: .8em;
    color: red;
}
.error{
    background-image: url(/images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    border: 1px solid red;
}