//COLORS

$colorPrimary: hsl(0, 100%, 74%);
$colorSecond: hsl(154, 59%, 51%);

$colorAccent: hsl(248, 36%, 48%);

$colorDarkBlue: hsl(249, 10%, 26%);
$colorGrayishBlue: hsl(246, 25%, 77%);

//FONT-FAMILY
$font:'Poppins', sans-serif;